.color-1 {
	color: rgb(214, 211, 209);
}
.color-2 {
	color: rgba(196, 104, 39, 0.46);
}
.color-3 {
	color: rgba(196, 104, 39, 0.35);
}
.color-4 {
	color: rgba(54, 39, 23, 0.15);
}
.color-5 {
    color: rgba(219, 167, 72, 0.57);
}
