.ordering_info {
  margin: 0 auto;
  width: 80%;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  border: 1px dashed #444444;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 20px;
}

.cake_list td {
  font-size: 1rem;
  text-align: center;
  width: 90px;
  border: 1px solid #444444;
}

.cake_list thead td {
  color: deeppink;
}

.cake_table {
  width: 312px;
  margin: 5px;
  border: 1px dashed gray;
  padding: 5px;
  border-radius: 5px;
}

.cake_table img {
  width: 300px;
  height: 300px;
  position: relative;
  border: 5px solid white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 0;
}

.cake_orders {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.velvety {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: white;
  height: 80px;
  width: 300px;
  padding: 10px;
  top: -20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.velvety p {
  text-align: center;
  font-size: 1.8rem;
  font-family: 'Caveat', cursive;
  color: black;
  line-height: 1.7rem;
}

#tc {
  display: inline-block;
  cursor: pointer;
  padding: 5px 10px;
  margin-left: 5px;
  border: none;
  background: white;
  color: black;
  height: 25px;
  border-radius: 5px;
}

#tc:hover {
  background: lightpink;
}
